.input-bg-color{
    background-color: #DCDCDC;
    border: #DCDCDC;
    width: 180px;
    margin-left: 5px;
}
.save-input{
    width: 80px;
    background-color: #DCDCDC;
    border: #DCDCDC;
}
.income-bg-color{
    background-color: #F8F8F8;
}