/* Input Background Color change and size */
.input-bg-color{
    background-color: #DCDCDC;
    border: #DCDCDC;
    width: 180px;
    margin-left: 5px;
}
.save-input{
    width: 80px;
    background-color: #DCDCDC;
    border: #DCDCDC;
}
.income-bg-color{
    background-color: #F8F8F8;
}
/* Erro Message Design */
.notify {
    color: #fff;
    text-align: center;
    margin: 0 auto;
    background: #222436;
    margin-top: 20px;
    border-radius: 15px;
    padding: 5px 20px;
    display: none;
}